* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  text-align: center; /* Center all content */
}

h1 {
  margin-top: 0;
  font-size: 22px;
  text-align: center; /* Center the heading */
}

.square {
  background: #000; /* Black background for the squares */
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: #fff; /* White color for X and O */
}

.square:hover {
  background: #5189b0; /* Darker shade of black for hover effect */
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the game box */
}

.game-info {
  margin-top: 20px;
}

.moves {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  flex-wrap: wrap; /* Allow wrapping if needed */
}

.move-button {
  background-color: #000; /* Black background for move buttons */
  color: #fff; /* White text color */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.move-button:hover {
  background-color: #5189b0; /* Darker shade of black on hover */
}

.move-button.start {
  background-color: #000000; /* White background for "Go to game start" */
  color: #ffffff; /* Black text color for "Go to game start" */
}
.move-button.start:hover {
  background-color: #5189b0; /* Darker shade of black on hover for "Go to game start" */
}

.restart-button {
  background-color: #000000; /* Blue background for restart button */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.restart-button:hover {
  background-color: #5189b0; /* Darker blue on hover */
}
